<p> If you want to pick up my brain for a few hours, <a
    href="javascript:location.href = 'mailto:' + ['igor','konnov.phd'].join('@')"
    aria-label="email"> drop me an email </a>. After that, we can switch to a
    messenger of your choice (e.g., Signal, Telegram, or others). For short
    consultations, I accept payments via Stripe. I also consider longer-term
    engagements, which would require a contract. You can see my portfolio at <a
    href="https://konnov.phd">konnov.phd</a>. I am based in Austria (CET/CEST)
    and have experience working with clients from the US, UK, and EU.
</p>
