---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 80%;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// add a floating div style that aligns to the right
.sidebar {
  float: right;
  margin-left: 50px;
  margin-bottom: 10px;
  width: 200px;
}

.my-wrapper {
    display: flex;
    justify-content: space-between;
}

.photo {
    border: 2px;
    border-style: solid;
    border-color: #99bbff;
}

.float-photo {
  float: right;
  margin: 0 0 1em 1.5em; /* top right bottom left */
  max-width: 250px;
  height: auto;
  border-radius: 8px;
  border: 2px;
  border-style: solid;
  border-color: #99bbff;
}

ul.spaced-list li {
  margin-bottom: 0.75em; /* adjust to your preference */
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.kw-container {
  display: flex;
  justify-content: space-between; /* pushes button to the right */
  align-items: flex-start;
  gap: 2em;
  width: 100%; /* optional: full width */
  max-width: 800px; /* optional: limit width */
  margin: 0 auto; /* center the container on the page */
}

.kw-grid {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8em;
  display: flex;
  justify-content: left;
  margin-top: 5px;
  margin-left: 10px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0.5em 2em;
  font-size: 1.1em;
  color: #4a4a4a;
}

.contact-link-button {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  padding: 1em .5em;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.contact-link-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}