---
# Only the main Sass file needs front matter (the dashes are enough)
---

$content-width: 80%;

@import
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize";

// add a floating div style that aligns to the right
.sidebar {
  float: right;
  margin-left: 50px;
  margin-bottom: 10px;
  width: 200px;
}

.my-wrapper {
    display: flex;
    justify-content: space-between;
}

.photo {
    border: 2px;
    border-style: solid;
    border-color: #99bbff;
}

.float-photo {
  float: right;
  margin: 0 0 1em 1.5em; /* top right bottom left */
  min-width: 150px;
  max-width: 15%;
  height: auto;
  border-radius: 8px;
  border: 2px;
  border-style: solid;
  border-color: #99bbff;
}

ul.spaced-list li {
  margin-bottom: 0.75em; /* adjust to your preference */
}

body {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.kw-container {
  display: flex;
  justify-content: space-between; /* pushes button to the right */
  align-items: flex-start;
  gap: 2em;
  width: 100%; /* optional: full width */
  margin: 0 auto; /* center the container on the page */
}

.kw-grid {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  gap: 0.5em 1em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1em;
  color: #4a4a4a;
  margin-top: 5px;
  margin-left: 10px;
  width: 80%;
}

.kw-button {
  width: 20%;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 2em 0; /* optional: adds vertical spacing */
}

.contact-link-button {
  display: inline-block;
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  padding: 1em .5em;
  font-size: 1.2rem;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.contact-link-button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

.contact-link-button:visited {
  background-color: #005a0f;
  color: #ffffff;
}

.giscus-notice {
  color:gainsboro;
  font-size: small;
  font-style: italic;
}

/* Hide photo on small screens */
@media (max-width: 600px) {
  .float-photo {
    display: none;
  }
  .kw-grid {
    font-size: 0.95em;
    gap: 0.5em 1em;
  }
}
