---
layout: base
---
<div class="home">
  {% if title %}
  <h1 class="page-heading">{{ title | escape }}</h1>
  {% endif %}

  {{ content }}

  {% assign posts = collections.posts | where_visible %}
  {% if posts.size > 0 %}
  <ul class="post-list">
    {% for post in posts %}
    <li>
      <span class="post-meta">{{ post.date | date_short }}</span>
      <h3>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
      </h3>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
